body {
    background-color: #FA9483;
}

main {
    background: #F3DECA;
    font-family: 'Inconsolata', monospace;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
}

h1 {
    margin: 3rem 1rem 6rem 1rem;
    text-align: center;
}

h2 {
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.artObject {
    max-width: 80%;
    max-height: 20rem;
    margin: 1rem;
    transition: transform 1s;
}

a .artObject:hover {
    transform: scale(0.5);
}

footer {
    margin: 3rem;
    font-size: 1.2rem;
    display: block;
    text-align: center;
}